<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" href="/static/default.css"></link>
<link rel="stylesheet" href="/static/timeline.css"></link>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<title>GovTrack.HK (Pre-Alpha)</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GovTrack.HK (Pre-Alpha)</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% if tbar == 'home' %}active{% endif %}" ><a href="/">首頁<span class="sr-only">(current)</span></a></li>
                <li class="{% if tbar == 'legco' %}active{% endif %}"><a href="/legco">立法會</a></li>
                <li class="{% if tbar == 'dc' %}active{% endif %}"><a href="#">區議會</a></li>
                <li class="{% if tbar == 'sub' %}active{% endif %}"><a href="#">登入 / 訂閱</a></li>
            </ul>
        </div>
        {% block sub_nav %}
        {% endblock %}
    </div>
</nav>
{% block page_content%}
{% endblock%}
</body>
</html>
