{% extends 'base.html'%}
{% block page_content%}
<style>
#gov_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/gov_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#d6d810;
    color:#FFF;

}
#gov_jumbotron a
{
    color:#FFF
}
</style>
<div class="container-full">
<div class="jumbotron" id="gov_jumbotron">
    <h1>線上民主平台</h1>
    </div>
</div>


<div style="width:30%" class="panel panel-default">
    <div class="panel-heading">現正刊登的諮詢文件</div>
    <div class="panel-body">
        <table id="consultations" class="cell-border">
            <thead>
            <tr>
                <th width="50%">諮詢文件</th>
                <th width="50%">截止日期</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script>

$(document).ready(function() {
    $('#consultations').DataTable( {
        "ajax": { 
            url:"/api/consultations/",
            dataSrc:""
        },
        "searching": false,
        "paging": false,
        "ordering": false,
        "info": false,
        "columns": [
            { "data": "title" },
            { "data": "date" },
        ]
    } );
} );
</script>
{% endblock %}
