{% extends 'base.html'%}
{% load legco_extras %}
{% block sub_nav %}
        <div>
            <ul class="nav nav-tabs">
                <li class="{% if nbar == 'home' %}active{% endif %}"><a href="/legco">首頁<span class="sr-only">(current)</span></a></li>
                <li class="{% if nbar == 'vote' %}active{% endif %}"><a href="/legco/vote">投票結果</a></li>
                <li class="{% if nbar == 'bill' %}active{% endif %}"><a href="/legco/bill">法案</a></li>
                <li class="{% if nbar == 'party' %}active{% endif %}"><a href="/legco/party">政黨</a></li>
                <li class="{% if nbar == 'question' %}active{% endif %}"><a href="/legco/question">質詢</a></li>
                <li class="{% if nbar == 'meeting' %}active{% endif %}"><a href="/legco/meeting">會議</a></li>
                <li class="{% if nbar == 'api' %}active{% endif %}"><a href="/legco/api">API</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
