{% extends 'base.html'%}
{% block sub_nav %}
        <div>
            <ul class="nav nav-tabs">
                <li class="{% if nbar == 'home' %}active{% endif %}"><a href="/legco">首頁<span class="sr-only">(current)</span></a></li>
                <li class="{% if nbar == 'vote' %}active{% endif %}"><a href="/legco/vote">投票結果</a></li>
                <li class="{% if nbar == 'bill' %}active{% endif %}"><a href="/legco/bill">法案</a></li>
                <li class="{% if nbar == 'party' %}active{% endif %}"><a href="/legco/party">政黨</a></li>
                <li class="{% if nbar == 'news' %}active{% endif %}"><a href="/legco/party">新聞</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
