{% extends 'legco/base.html'%}
{% block page_content %}
<style>
#bill_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/legco/bill_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#737;
    color:#FFF;

}
#bill_jumbotron a
{
    color:#FFF
}
</style>
<div class="container-full">
<div class="jumbotron" id="bill_jumbotron">
    <h1>法案</h1>
    <p>
    <em>
        "法案在提交立法會之前，會先在憲報上刊登。法案如要獲立法會通過，必須經首讀、二讀及三讀的程序。進行首讀時，立法會秘書會在立法會會議席上宣讀法案的簡稱，這是法案提交立法會的正式程序。提交有關法案的政府官員或議員繼而會動議"‍法案予以二讀"的議案，並會發言解釋法案的目的，法案二讀隨之展開。在動議議案後，有關的辯論通常會中止待續，以便把法案交付內務委員會，讓議員有更充裕的時間，在內務委員會或由內務委員會專為法案而成立的法案委員會詳加研究。..."
    </em> --- <a href="http://www.legco.gov.hk/general/chinese/bills/bill_1216.htm">香港特別行政區立法會 - 法案</a>
    </p>
    </div>
</div>


<div style="width:40%">


<table id="bills-search" style="width:100%">
 <thead style="display:none">
  <tr></tr>
 </thead>
</table>
<script>
$(document).ready(function() {
    $('#bills-search').DataTable( {
        "bSort": false,
        "ajax": { 
            url:"/api/bills_search//",
            dataSrc:""
        },
        "columns": [
            { "width": "100%","render": 
                function ( data, type, row ) {
                    console.log(row);
                    var s = "";
                    
                        
                    s += "<div class=\"panel panel-default\">";
                    s += "<div class=\"panel-heading\">" + row.title + "</div>";

                    s += "<div class=\"panel-body\" style=\"font-size:10pt\">" + row.title ;
                    s += "<a class=\"btn-block\" href=\"/legco/bill/" + row.id  + "/\">"
                    s += "Go";
                    s += "</a>";
                    s += "</div>"
                    s += "</div>";

                    return s;
                }
            },
        ]
    } );
} );
</script>


</div>
{% endblock%}
