{% extends 'legco/base.html'%}
{% block page_content%}
<style>
#legco_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/legco/legco_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#733;
    color:#FFF;

}
#legco_jumbotron a
{
    color:#FFF
}
</style>
<div class="container-full">
    <div class="jumbotron" id="legco_jumbotron">
        <h1>立法會</h1>
        <p>觀迎</p>
    </div>
</div>

<div style="margin-left:20px;overflow:hidden" class="container-full">
    <div style="min-width:200px;float:left">
        <div>
            <h2>最常缺席議員</h2>
            <table id="most-absent" class="table table-striped table-bordered">
            <thead style="display:none">
            <tr>
                <th width="50%">議員</th>
                <th width="50%">缺席會議次數</th>
            </tr>
            </thead>
            <tfoot style="display:none">
                <tr>
                    <th width="50%"></th>
                    <th width="50%"></th>
                </tr>
            </tfoot>
            </table>
        </div>
    </div>
    <div style="width:250px;float:left; margin-left:60px; margin-right:60px">
        <div>
        <h2>最常發言議員</h2>
            <table id="most-speech" class="table table-striped table-bordered"">
                <thead style="display:none">
                <tr>
                    <th width="50%">議員</th>
                    <th width="50%">發言次數</th>
                </tr>
                </thead>
                <tfoot style="display:none">
                    <tr></tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div style="float:left;">
        <div>
        <h2>最新法案</h2>
            <table id="latest-bills">
                <thead style="display:none">
                <tr>
                    <th width="50%">法案</th>
                </tr>
                </thead>
                <tfoot style="display:none"><tr></tr></tfoot>

            </table>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<script>
$(document).ready(function() {
    $('#most-absent').DataTable( {
        "pageLength": 10,
        "ajax": { 
            url:"/api/most_absent/",
            dataSrc:""
        },
        "searching": false,
        "paging": false,
        "ordering": false,
        "info": false,
        "columns": [
            { "render":
                 function ( data, type, row ) {
                     var html = "";
                     var level = "warning";
                     if (row['total'] > 100)
                        level = "danger";
                     html += "<div style=\"width:200px\">"
                     html += "<div style=\"text-align:center\"><img width=\"80\" src=\"" + row['image'] + "\" /><br/>" + "<a href=\"/legco/individual/" + row['id'] + "\" target=\"_blank\">"  + row['name'] + "</a></div>";
                     html += "<div class=\"progress\">";
                     html += "<div class=\"progress-bar progress-bar-" + level +"\" role=\"progressbar\" aria-valuenow=\"" + row['total'] + "\" aria-valuemin=\"0\" aria-valuemax=\"" + row['max']  +"\" style=\"width:" + (row['total'] / row['max'] * 100) + "%\">";
                     html += row['total'] + "次" ; 
                     html += "</div>";
                     html += "</div>";
                     html += "</div>";
                     return html;
                 }
            },
            { "visible":false,
              "data": null
            }
        ]
    });
    $('#most-speech').DataTable( {
        "pageLength": 10,
        "ajax": { 
            url:"/api/most_speech/",
            dataSrc:""
        },
        "searching": false,
        "paging": false,
        "ordering": false,
        "info": false,
        "columns": [
            { "render":
                 function ( data, type, row ) {
                     var html = "";
                     var level = "info";
                     if (row['total'] > 1000)
                        level = "success";
                     html += "<div style=\"width:200px\">"
                     html += "<div style=\"text-align:center\"><img width=\"80\" src=\"" + row['image'] + "\" /><br/>" + "<a href=\"/legco/individual/" + row['id'] + "\" target=\"_blank\">"  + row['name'] + "</a></div>";
                     html += "<div class=\"progress\">";
                     html += "<div class=\"progress-bar progress-bar-" + level +"\" role=\"progressbar\" aria-valuenow=\"" + row['total'] + "\" aria-valuemin=\"0\" aria-valuemax=\"" + row['max']  +"\" style=\"width:" + (row['total'] / row['max'] * 100) + "%\">";
                     html += row['total'] + "次" ; 
                     html += "</div>";
                     html += "</div>";
                     html += "</div>";
                     return html;
                 }
            },
            { "visible":false,
              "data": null
            }
        ]
    });
} );
</script>

<script>
$(document).ready(function() {
    $('#latest-bills').DataTable( {
        "ajax": { 
            url:"/api/latest_bills/",
            dataSrc:""
        },
        "searching": false,
        "paging": false,
        "ordering": false,
        "info": false,
        "columns": [
            { "render":
                function ( data, type, row ) {
                    var html = "<a href=\"/legco/bill/" + row['id'] + "\">" + row['title_ch'] + "</a>";
                    return html;
                },
            }
        ]
    } );
} );
</script>
{% endblock %}
