{% extends 'legco/base.html'%}
{% block page_content%}
<ol class="breadcrumb">
  <li><a href="/legco">首頁</a></li>
  <li><a href="/legco/party/">政黨</a></li>
  <li><a href="/legco/party/{{individual.party.id}}">{{individual.party.name_ch}}</a></li>
  <li class="active">{{individual.name_ch}}</li>
</ol>


<h2>{{individual.name_ch}}議員</h2>
<img src="{{individual.image}}"/>

<h3>Stat</h3>
<table class="table table-bordered">
{% for f in frequency %}
    <tr>
        <td>{{f.result}}</td><td>{{f.dcount}}</td>
    </tr>
{% endfor %}
</table>

<h3>相關新聞</h3>
<table>
{% for n in related_news %}
    <tr>
        <td><a href="{{n.link}}">{{n.title}}</a></td>
    </tr>
{% endfor %}
</table>
<h3>相關投票</h3>
<table class="table table-bordered">
{% for vr in related_votes %}
    <tr>
        <td><a href="/legco/vote/{{vr.vote.id}}/">{{vr.vote.motion.name_ch}}</a></td>
        <td>{{vr.result}}</td>
    </tr>
{% endfor %}
</table>
{% endblock%}
