{% extends 'legco/base.html'%}
{% block page_content%}
<style>
#meeting_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/legco/meeting_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#116;
    color:#FFF;

}
#meeting_jumbotron a
{
    color:#FFF
}
</style>
<div class="container-full">
    <div class="jumbotron" id="meeting_jumbotron" style="margin-bottom:0px">
    <h1>會議</h1>
    <p>
    </p>
    </div>
</div>
<ol class="breadcrumb">
  <li><a href="/legco">首頁</a></li>
  <li class="active">會議</li>
</ol>

<div class="container-full">
<div style="float:left; width:10%; margin-left:20px" class="list-group">
    <h4>年份</h4>
        <a href="#" class="list-group-item">2015-2016</a>
        <a href="#" class="list-group-item">2014-2015</a>
        <a href="#" class="list-group-item">2013-2014</a>
        <a href="#" class="list-group-item">2012-2013</a>
    </ul>
</div>
<div style="float:left; width:60%; margin-left:20px">
<table id="meetings-search" style="width:100%">
 <thead style="display:none">
  <tr></tr>
 </thead>
</table>
</div>
<script>
$(document).ready(function() {
    $('#meetings-search').DataTable( {
        "bSort": false,
        "searching": false,
        "paging": false,
        "ajax": { 
            url:"/api/meetings/",
            dataSrc:""
        },
        "columns": [
            { "width": "100%","render": 
                function ( data, type, row ) {
                    console.log(row);
                    var s = ""
                    var type = "立法會會議";
                    if (row.type == "fc")
                    {
                        type = "財務委員會會議";
                    }
                        
                    s += "<div class=\"panel panel-default\">";
                    s += "<div class=\"panel-heading\">" + type + " "  + row.date +  "</div>";
                    s += "<div class=\"panel-body\" style=\"font-size:10pt\">";
                    s += "出席人數: " + row.present_count + "&nbsp;&nbsp;";
                    s += "缺席人數: " + row.absent_count + "&nbsp;&nbsp;";
                    s += "投票次數: " + row.vote_count + "&nbsp;&nbsp;";
                    s += "<a class=\"btn btn-default\" href=\"/legco/meeting/" + row.id +  "\">檢視</div>"
                    s += "</div>"
                    s += "</div>";

                    return s;
                }
            },
        ]
    } );
} );
</script>


</div>
{% endblock%}
