{% extends 'legco/base.html'%}
{% load legco_extras %}
{% block page_content%}
<style>
#meeting_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/legco/meeting_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#116;
    color:#FFF;

}
#meeting_jumbotron a
{
    color:#FFF
}
span.collapse {
    display: none;
    position: static;
    height: auto;
    opacity: 0;
}

span.collapse.in {
    display: inline;
    position: static;
    opacity: 1;
    height: auto;
}
</style>
<div class="container-full">
    <div class="jumbotron" id="meeting_jumbotron" style="margin-bottom:0px">
    <h1>會議</h1>
    </div>
</div>
<ol class="breadcrumb">
  <li><a href="/legco">首頁</a></li>
  <li><a href="/legco/meeting">會議</a></li>
  <li class="active">{%if meeting.meeting_type == "fc"%} 財務委員會會議紀要{%else%} 會議過程正式紀錄{%endif%} | {{meeting.date|parse_date_chinese}}</li>
</ol>
<div class="container">
    <h1>{%if meeting.meeting_type == "fc"%} 財務委員會會議紀要{%else%} 會議過程正式紀錄{%endif%} | {{meeting.date|parse_date_chinese}}</h1>
    <br/>
    <a href="{{meeting.source_url}}">PDF文件</a>
    <div class="page-header">
        <h1>出席議員</h1>
    </div>
    {%for p in present%}
    {%if p.individual != None %}<a href="/legco/individual/{{p.individual.id}}/">{%endif%}
        {{p.title_ch}}{%if p.individual != None %}</a>{%endif%}&nbsp;
    {%endfor%}
    <div><h1>缺席議員</h1>
    {%for p in absent%}
    {%if p.individual != None %}<a href="/legco/individual/{{p.individual.id}}/">{%endif%}
        {{p.title_ch}}{%if p.individual != None %}</a>{%endif%}&nbsp;
    {%endfor%}
    </div>
   <div><h1>出席政府官員</h1>
    {%for p in public%}
    {{p.title_ch}}&nbsp;
    {%endfor%}
    </div>
   <div><h1>列席秘書</h1>
    {%for p in clerks%}
    {{p.title_ch}}&nbsp;
    {%endfor%}
    </div>
    <h1>投票結果</h1>
    <ul class="list-group">
    {% for row in votes%}
        <li class="list-group-item">
             <a  href="/legco/vote/{{row.id}}"> {{row.motion.name_ch}}  動議人: {{row.motion.mover_ch}}投票</a>
        </li>
    {% empty %}
    沒有投票結果
    {%endfor%}
    </ul>
    <div class="page-header">
        <h1 id="timeline">會議過程正式紀錄</h1>
    </div>
    
<ul class="timeline">
{% for s in speeches %}
<li class="{% if forloop.counter|divisibleby:2 %}timeline-inverted{%endif%}">
    <div class="timeline-badge success"  id="seq{{s.sequence_number}}"></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-title">{{s.title_ch}}</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;約&nbsp;{{s.est_min}}&nbsp;分鐘</small></p>
        </div>
        <div class="timeline-body">
            <table>
            <tr>
            {% if s.individual != None %}    
            <td valign="top">
            <img src="{{s.individual.image}}" width="30" style="padding-right:5px"/>
            </td>
            {% endif %}
            <td>
            <p>
                <span class="text_short" style="display:inline">
                {{s.text_ch_short |linebreaksbr}}
                {% if s.text_ch_more|length > 0 %}
                </span>
                <span class="collapse" id="viewdetails{{forloop.counter}}" style="">{{s.text_ch_more|linebreaksbr}}</span>
                <br/>
                <a class="btn btn-default" data-toggle="collapse" data-target="#viewdetails{{forloop.counter}}">展開</a><br/>
                {%endif%}
            </td>
            </tr>
            </table>

        </div>
      </div>
    </li>
{% endfor%}
</ul>
</div>
<script>
$(document).ready(function(){
  $(".collapse").on("hide.bs.collapse", function(){
    $(".btn", $(this).parent()).html('展開');
  });
  $(".collapse").on("show.bs.collapse", function(){
    $(".btn", $(this).parent()).html('關閉');
  });
});
</script>
{% endblock%}
