{% extends 'legco/base.html'%}
{% load legco_extras %}
{% block page_content%}
<link rel="stylesheet" href="/static/jcarousel.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.4/jquery.jcarousel.min.js"></script>
<style>
#members_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/legco/council_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#db9500;
    color:#FFF;

}
#members_jumbotron a
{
    color:#FFF
}
</style>
<div class="container-full">
    <div class="jumbotron" id="members_jumbotron" style="margin-bottom:0px">
        <h1>{{council.name_ch}}</h1>
    </div>
</div>
<ol class="breadcrumb">
  <li><a href="/legco">首頁</a></li>
  <li><a href="/legco/councils">議員</a></li>
  <li class="active">{{council.name_ch}}</li>
</ol>


<div class="container-full" style="padding-left:20px;min-height:500px;">
<div style="">
<h2>立法會議員名單</h2>
<h3>主席</h3>
{%if council.chairman == None %}
<img src="/static/legco/member/nopic.png"/><br/>
未定
{%else%}
 <a href="/legco/individual/{{council.chairman.pk}}"><img src="{{council.chairman.image}}"/><br/>{{council.chairman.name_ch}}</a>
{%endif%}
<h3>議員</h2>
{%for key, members in gc_members%}
{%random_panel forloop.counter  as panel_class%}
<div class="panel {{panel_class}}">
<div class="panel-heading">{{key}}</div>
<table>
{%for member in members %}
   <td>
        <a href="/legco/individual/{{member.member.pk}}"><img src="{{member.member.image}}"/><br/>{{member.member.name_ch}}</a>
   </td>
   {% if forloop.last %}
     </tr>
   {% else %}
     {% if forloop.counter|divisibleby:"10" %}
       </tr><tr>
     {% endif %}
   {% endif %}

{%endfor%}

</table>
</div>
{%endfor%}
<div class="panel panel-default">
<div class="panel-heading">超區</div>
<table>
{%for member in fc_dc_members %}
   <td>
        <a href="/legco/individual/{{member.member.pk}}"><img src="{{member.member.image}}"/><br/>{{member.member.name_ch}}</a>
   </td>
   {% if forloop.last %}
     </tr>
   {% else %}
     {% if forloop.counter|divisibleby:"10" %}
       </tr><tr>
     {% endif %}
   {% endif %}

{%endfor%}

</table>
</div>
</div>

<div class="panel panel-primary">
<div class="panel-heading">功能界別</div>
<table><tr>
{% for member in fc_members %}
   <td>
        <a href="/legco/individual/{{member.member.pk}}"><img src="{{member.member.image}}"/><br/><center>{{member.member.name_ch}}<br/>{{member.membership_type.sub_category|truncatechars:10}}</center></a>
   </td>
   {% if forloop.last %}
     </tr>
   {% else %}
     {% if forloop.counter|divisibleby:"10" %}
       </tr><tr>
     {% endif %}
   {% endif %}
{% endfor %}
</table>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>
</div>
{% endblock%}
