{% extends 'legco/base.html'%}
{% load legco_extras %}
{% block page_content%}
<div class="container-full">
    <div class="jumbotron" id="legco-question-jumbotron" style="margin-bottom:0px">
        <h1>質詢</h1>
        <p>
        由2012年到2016年，一共有約2,600個質詢。
        </p>
        </div>
    </div>

    <ol class="breadcrumb">
      <li><a href="/legco">首頁</a></li>
      <li><a href="/legco/questions">質詢</a></li>
      <li class="active">{{question.title_ch}}</li>
    </ol>


    <div class="container-full" style="margin-left:10px">
        <div style="clear:both">
        關鍵字 :
        {%for keyword in keywords%}
            {%random_label as label%}
           <a href="/legco/questions/{{keyword}}" target="_blank" class="label {{label}}"> {{keyword}}</a>
        {%endfor%}
        </div>
        <div style="float:left; margin-top: 20px">
            <img src="{{question.individual.image}}"/>
            </br>
            <a href="/legco/individual/{{question.individual.id}}" target="_blank">{{question.individual.name_ch}}議員</a>
        </div>
        <div style="float:left; width:60%" class="bubble">{{question.question|linebreaksbr}}</div>
    </div>
    <div style="clear:both;"></div>
    <div style="float:right; width:80%">
        <div style="width:90%" class="bubble_no_arrow">{{question.answer|linebreaksbr}}</div>
    </div>
    </div>
</div>

{% endblock%}
