{% extends 'legco/base.html'%}
{% load legco_extras %}
{% block page_content%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-router/2.6.1/ReactRouter.min.js"></script>
<style>
#question_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/legco/question_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#116;
    color:#FFF;

}
#question_jumbotron a
{
    color:#FFF
}
</style>
<div class="container-full">
<div class="jumbotron" id="question_jumbotron" style="margin-bottom:0px">
    <h1>質詢</h1>
    <p>
    由2012年到2016年，一共有約2,600個質詢。
    </p>
    </div>
</div>
<ol class="breadcrumb">
  <li><a href="/legco">首頁</a></li>
  <li class="active">質詢</li>
</ol>

<div class="container-full" style="margin-left:20px">
<div  class="input-group" style="margin-left:40px;width:300px">
<input type="text" placeholder="關鍵字" id="search_keyword" class="form-control" value="{{search_keyword}}"/>
 <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="search_btn">搜尋</button>
      </span>
</div>
<div id="questions">
</div>
</div>

{% verbatim %}
<script type="text/babel">
var Questions = React.createClass({
    getInitialState: function(){
        return {'data':[], 'total': 0, 'page': 1, 'page_size': 0};    
    },
    fetchQuestions:function()
    {
        var k = $("#search_keyword").val();
        var page = 1;
        this.serverRequest = $.get("/api/questions/" + k + "/" + page + "/" , function(result){ this.setState(result)}.bind(this));
    },
    componentDidMount: function() {
        this.fetchQuestions();
    },

    componentWillUnmount: function() {
        this.serverRequest.abort();
    },
   
    fetchNextPage: function()
    {
        if (this.state.data.length < this.state.page_size)
        {
            return ;
        }
        var k = this.state.keyword;
        var page = this.state.page + 1;
        this.serverRequest = $.get("/api/questions/" + k + "/" + page + "/" , function(result){ this.setState(result)}.bind(this));
    },    

    fetchPrevPage: function()
    {
        var k = this.state.keyword;
        var page = this.state.page - 1;
        if (page <= 0)
        {
            return ;
        }
        this.serverRequest = $.get("/api/questions/" + k + "/" + page + "/" , function(result){ this.setState(result)}.bind(this));
    },    

    fetchLastPage: function()
    {
        if (this.state.page_size == 0)
        {
            return ;
        }
        var k = this.state.keyword;
        var page = Math.ceil(this.state.total * 1.0/ this.state.page_size);
        if (page == this.state.page)
        {
            return;
        }

        this.serverRequest = $.get("/api/questions/" + k + "/" + page + "/" , function(result){ this.setState(result)}.bind(this));
    },    



 
    fetchFirstPage: function()
    {
        var k = this.state.keyword;
        var page = 1;
        if (page == this.state.page)
        {
            return;
        }
        this.serverRequest = $.get("/api/questions/" + k + "/" + page + "/" , function(result){ this.setState(result)}.bind(this));
    },    

    render: function() {
        var result = []
        var labels = ["label-default", "label-primary", "label-success", "label-info" ,"label-warning" ,"label-danger"];
        var first_page_link = <a className={'btn btn-default'} onClick={this.fetchFirstPage}>第一頁</a>;
        var prev_page_link = <a className={'btn btn-default'} onClick={this.fetchPrevPage}>上一頁</a>;
        var next_page_link = <a className={'btn btn-default'} onClick={this.fetchNextPage}>下一頁</a>;
        var last_page_link = <a className={'btn btn-default'} onClick={this.fetchLastPage}>最後一頁</a>;

        for (var i = 0; i < this.state.data.length; i++)
        {
          var question = this.state.data[i];
          if ( i % 2 == 0)
          {
            result.push(<div style={{'clear':'both'}}></div>);
          }
          var keywords = []
          question.keywords.forEach(function(k){
             var label = labels[Math.floor(Math.random() * labels.length)]
             keywords.push(<a href={'/legco/questions/' + k} className={'label ' + label} style={{'margin-right':'10px'}}>
             {k}
             </a>)  
          });
          var d = new Date(Date.parse(question.date))
          result.push(
          <a href={'/legco/question/' + question.id} style={{'display':'block'}}>
          <div style={{'border':'1px solid #ccc', 'width': '600px', 'margin':'40px', 'padding':'20px','float':'left'}}>
          <h4>{question.title}</h4>  
            {question.individual.name} - {d.getFullYear()} 年 {d.getMonth() + 1} 月 {d.getDate()} 日<br/> <br/>
            <div>
                <div style={{'float':'left'}}>
                <img width={'80'} src={question.individual.image}/></div>
                <div style={{'margin-left':'20px', 'float':'left', 'width':'400px'}}>{question.question}</div>
            </div>
            <div style={{'clear':'both'}}></div><br/>
            關鍵字 : {keywords}
          </div></a>);
        };
        return (<div><br/><div style={{'margin-left':'40px'}}>{'\"'}<em>{this.state.keyword}{'\"'}</em> 有 <em>{this.state.total}</em> 項搜尋結果 (第{this.state.page}頁) {first_page_link} {prev_page_link} {next_page_link} {last_page_link}</div>{result}</div>);
    }
    });
var questions = ReactDOM.render(<Questions/>, document.getElementById('questions'));
questions.fetchQuestions();
$("#search_btn").click(function()
{ questions.fetchQuestions();});
</script>
{% endverbatim %}
{% endblock%}


