{% extends 'legco/base.html'%}
{% block page_content%}
<div style="width:50%">
<table id="votes-search">
 <thead style="display:none">
  <tr></tr>
 </thead>
</table>
<script>
$(document).ready(function() {
    $('#votes-search').DataTable( {
        "ajax": { 
            url:"/api/votes_search/%20/",
            dataSrc:""
        },
        "columns": [
            { "render": 
                function ( data, type, row ) {
                    console.log(row);
                    var label_class = "label-primary";
                    var overall_result = row.summaries.filter(function(s) {return s.     summary_type == "OVER";})[0].result;
                    if (overall_result == "Passed")
                    {
                        label_class = "label-success";
                    }
                    else
                    if (overall_result == "Negatived")
                    {
                        label_class = "label-danger"
                    }
                    var s = "";
                    
                        
                    s += "<div class=\"panel panel-default\">";
                    s += "<div class=\"panel-heading\">" + row.date + " "  + row.time + "</div>";

                    s += "<div class=\"panel-body\" style=\"font-size:10pt\">" + row.motion.name_ch ;
                    s += "<br/><div style=\"margin-bottom:7px;margin-top:7px;\">結果: <span class=\"label " + label_class + "\">" + overall_result +  "</span></div>"
                    s += "動議人: " + row.motion.mover_ch ;

                    s += "<a class=\"btn-block\" href=\"/legco/vote/" + row.id  + "/\">"
                    s += "Go";
                    s += "</a>";
                    s += "</div>"
                    s += "</div>";

                    return s;
                }
            },
        ]
    } );
} );
</script>


</div>
{% endblock %}
