{% extends 'base.html'%}
{% block page_content%}
<table id="latest-votes" class="cell-border">
  <thead>
    <tr>
        <th width="10%">Date</th>
        <th width="72%">Motion</th>
    </tr>
  </thead>
</table>
<script>
$(document).ready(function() {
    $('#latest-votes').DataTable( {
        "ajax": { 
            url:"/api/latest_votes/",
            dataSrc:""
        },
        "searching": false,
        "paging": false,
        "ordering": false,
        "info": false,
        "columns": [
            { "data": "date" },
            { "data": "motion.name_ch" },
        ]
    } );
} );
</script>
{% endblock %}
