{% extends 'legco/base.html'%}
{% load legco_extras %}
{%block og_title%}g0vhk.io - {{vote.motion.name_ch}}{%endblock og_title%}
{%block og_desc%}{{vote.motion.name_ch}}
日期: {{vote.date|parse_date_chinese}} {{vote.time}}<br/>
動議人: {%if vote.motion.mover_ch|length > 0 %}{{vote.motion.mover_ch}}{%else%}沒有{%endif%}<br/>
結果: {{overall_result|vote_result_chinese}}<br/>
{%endblock%}
{%block og_image%}{{og_image_url}}{%endblock%}
{% block page_content%}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=205317903140183";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
#meeting_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/legco/meeting_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#116;
    color:#FFF;

}
#meeting_jumbotron a
{
    color:#FFF
}
</style>
<div class="container-full">
    <div class="jumbotron" id="meeting_jumbotron" style="margin-bottom:0px">
    <h1>會議</h1>
    <p>
    </p>
    </div>
<ol class="breadcrumb">
  <li><a href="/legco">首頁</a></li>
  <li><a href="/legco/meeting">會議</a></li>
  {%if meeting != None%}
  <li><a href="/legco/meeting/{{meeting.id}}">{%if meeting.meeting_type == "fc"%} 財務委員會會議紀要{%else%} 會議過程正式紀錄{%endif%} | {{meeting.date|parse_date_chinese}}</a></li>
  {%endif%}
  <li class="active">{{vote.motion.name_ch}}之投票結果

</li>
</ol>
</div>

<div class="container-full" style="margin-left:40px">
<div class="page-header"><h1>{{vote.motion.name_ch}}<small>之投票結果</small>
<div class="fb-share-button" data-href="{{url}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url|urlencode}}&amp;src=sdkpreparse">Share</a></div>
</h1>
<br/>
<table class="table table-bordered" style="width:400px">
<tr>
<td>日期</td><td>{{vote.date|parse_date_chinese}} {{vote.time}}</td>
</tr>
<tr>
<td>動議人</td><td>{%if vote.motion.mover_ch|length > 0 %}{{vote.motion.mover_ch}}{%else%}沒有{%endif%} </td></tr>
<tr><td>結果</td><td>{{overall_result|vote_result_chinese}}</td></tr>
</tr>
</table>
<br/>
<br/>
<div>
<div style="width:30%;float:left;">
    <center>
        <div class="alert alert-success" role="alert">
        <h1>{{ yes_count}}票贊成 </h1>
        </div>
    </center>
{% for iv in individual_votes %}
{% if iv.result == "YES" %}
    <div class='clickable-row' data-href='/legco/individual/{{iv.individual.id}}/' style="float:left;cursor: pointer;width:80;height:129">
        <img src="{{iv.individual.image}}" width="80"/><br/>{{iv.individual.name_ch}}
    </div>
{% endif %}
{% endfor %}

</div>
<div style="float:left; width:30%;margin-left:10px; margin-right:10px;">
    <center>
        <div class="alert alert-danger" role="alert">
        <h1>{{ no_count}}票反對</h1>
        </div>
    </center>

{% for iv in individual_votes %}
{% if iv.result == "NO" %}
    <div class='clickable-row' data-href='/legco/individual/{{iv.individual.id}}/' style="float:left;cursor: pointer;width:80;height:129">
        <img src="{{iv.individual.image}}" width="80"/><br/>{{iv.individual.name_ch}}
    </div>
{% endif %}
{% endfor %}
</div>
<div style="float:left; width:30%;">
    <center>
        <div class="alert alert-info" role="alert">
            <h1>{{absent_count}}票缺席&nbsp;+&nbsp;{{abstain_count}}票棄權&nbsp;+&nbsp;{{present_vote_count}}票在席</h1>
        </div>
    </center>

{% for iv in individual_votes %}
{% if iv.result == "ABSENT" or iv.result == "ABSTAIN" or iv.result == "PRESENT" %}
<div class='clickable-row' data-href='/legco/individual/{{iv.individual.id}}/' style="float:left;margin-right:4px;width:80;height:129;{%if iv.result == "ABSENT" or iv.result == "PRESENT" %}opacity:0.3;{%endif%};cursor: pointer;">
        <img src="{{iv.individual.image}}" width="80"/><br/>{{iv.individual.name_ch}}
    </div>
{% endif %}
{% endfor %}
</div>

</div>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
<div style="clear:both"></div>

</div>
<br/>
<br/>
{% endblock %}
