{% extends 'district/base.html'%}
{% block page_content%}
<style>
#dc_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/under_construction.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#8f2c00;
    color:#FFF;

}
#dc_jumbotron a
{
    color:#FFF
}
</style>
<div class="container-full">
<div class="jumbotron" id="dc_jumbotron">
    <h1>區議會 - 正在施工</h1>
    </div>
</div>


{% endblock%}
