{% extends 'district/base.html'%}
{% block page_content%}
<style>
#dc_jumbotron
{
    height:300px;
    padding-left:20px;
    background-image:url('/static/district/dc_bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    background-color:#e44600;
    color:#FFF;

}
#dc_jumbotron a
{
    color:#FFF
}
</style>
<div class="container-full">
<div class="jumbotron" id="dc_jumbotron">
    <h1>區議會</h1>
    </div>
</div>


<div style="text-align:center">
<h1>正在施工</h1>
<img src="/static/under_construction.png"/ width="300">
</div>
{% endblock%}
